Flask==2.2.2
Werkzeug==2.2.3
Flask-WTF==1.1.1
WTForms== 3.0.1
openai==1.55.0
gunicorn==23.0.0
psycopg2==2.9.9
requests==2.31.0
thefuzz==0.20.0
Flask-Caching==2.1.0
flask_login==0.6.3
flask_sqlalchemy
email_validator
authlib
celery==5.2.6
redis==4.2.2
kombu==5.2.4
flask_mail==0.10.0
itsdangerous==2.2.0
httpx==0.27.2
sqlalchemy==2.0.21