@charset "UTF-8";

/* Global */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; /* Regular */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; /* Bold */
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.main_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.my_row {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.my_text_center {
  text-align: center;
}

.btn {
  background-color: rgb(64, 109, 175);
  color: white;
  border: #333;
}

.btn:hover {
  background-color: darkblue;
}

.section-padding {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .main_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
}

/* Navigation (from youtube) */

.nav__link:hover,
.nav__link:focus {
  text-decoration: none;
}

.nav a .nav__text {
  display: none;
  font-size: 15px;
}

.nav a:hover {
  color: rgb(51, 55, 61);
}

.nav__link__active {
  color: rgb(56, 93, 149);
  transform: translateY(-5%);
  font-size: 45px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.nav a.nav__link__active .nav__text {
  display: block;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    /* Added to ensure it starts from the very left */
    right: 0;
    /* Added to ensure it stretches to the very right */
    display: flex;
    justify-content: center;
    /* Center items horizontally */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    overflow-x: auto;
    z-index: 5;
  }

  .nav__link {
    text-decoration: none;
    color: rgb(64, 109, 175);
    width: 17%;
    height: 100%;
    display: inline-grid;
    place-items: center;
    font-size: 10px;
    z-index: 1;
    position: relative;
  }

  .nav__link .nav__text {
    display: none;
    /* Hide text labels on small screens */
  }

}

/* Modal Adjusting */

#scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video,
canvas.drawingBuffer {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {

  video,
  canvas.drawingBuffer {
    max-width: 90vw;
  }
}

canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0px;
  top: 0;
}

/* Home Page */

.home_header {
  background-color: #b5b5b5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.home_header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.home_icon {
  font-size: 48px;
}

.instructions {
  display: flex;
  align-items: flex-start;
  background-color: #f9f9f9; /* Adjust as needed */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 45%; /* Adjust as needed */
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.how_it_works_section {
  background-color: #eaeaea;
  padding-top: 5%;
  padding-bottom: 5%;
}

.how_it_works_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



@media (max-width: 768px) {
  .home_header {
    background-color: rgb(155, 155, 155);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home_header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

  .home_icon {
    font-size: 40px; /* Adjust this value as needed */
  }

  .works_main_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .my_row {
    flex-direction: column;
    align-items: center;
  }

  .instructions {
    width: 90%; /* Ensure it fits within the screen */
    margin-bottom: 20px; /* Add space between items */
  }

  .circle {
    top: -20px;
    left: 10px; /* Adjust left positioning */
  }

  

}


/* Search Page */

.search_header {
  background-color: #b5b5b5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.search_header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

@media (max-width: 768px) {

  .search_header {
    background-color: rgb(155, 155, 155);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .search_header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

}

.result-box {
  border: 1px solid #999;
  background-color: #ffffff;
  color: black;
  max-height: 200px;
  overflow-y: scroll;
}

.result-box div {
  padding: 15px 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

/* About Page */



/* Settings Page */

.settings_section {
  padding-left: 20px;
}

.list-group-item {
  border: none; /* Remove border if desired */
  border-radius: 0; /* Remove border radius if desired */
  margin-bottom: 10px; /* Add space between items */
  padding: 15px 20px; /* Adjust padding */
}

.footer {
  background-color: #eaeaea;
}

/* Login Page */

.custom-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

/* Info Card Section */

.info-card {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.info-card .card-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.info-card::-webkit-scrollbar {
  width: 10px;
}

.info-card::-webkit-scrollbar-thumb {
  background-color: rgb(64, 110, 175);
  border-radius: 10px;
}

.info-card::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Nutritional Card Section */

.nutrients-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.nutrients-card .card-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

.nutrition-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.nutrition-table tr:hover {
  background-color: #ddd;
}

.nutrition-table td:first-child {
  font-weight: bold;
}

.nutrition-table td:last-child {
  text-align: right;
}

.nutrition-table td, .nutrition-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.nutrition-table tr:nth-child(even){background-color: #f2f2f2;}

.nutrition-table tr:hover {background-color: #ddd;}

.nutrition-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* Nutriscore Card */

.nutriscore-card {
  border: 1px solid #ddd; /* Add a border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.nutriscore-card .card-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.nutriscore-grade, .nutriscore-score {
  font-size: 1.1em;
  padding: 10px; /* Inner padding */
  border-radius: 5px; /* Rounded corners */
  margin: 5px 0; /* Vertical spacing */
}

.nutriscore-grade {
  background-color: #f8f9fa; /* Light background for grade */
  text-align: center; /* Center align the text */
}

.nutriscore-score {
  background-color: #e9ecef; /* Light background for score */
  text-align: center; /* Center align the text */
}

/* Ingredient Percentage Card */

.ingredient-percentage-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.ingredient-percentage-card .card-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 10px;
}