@charset "UTF-8";

/* Global */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; /* Regular */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; /* Bold */
}

.main_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.my_row {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.my_text_center {
  text-align: center;
}

.btn {
  background-color: rgb(64, 109, 175);
  color: white;
  border: #333;
}

.btn:hover {
  background-color: darkblue;
}

.section-padding {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 700px) {
  .main_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .my_row {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
}

/* Navigation (from youtube) */

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  /* Added to ensure it starts from the very left */
  right: 0;
  /* Added to ensure it stretches to the very right */
  display: flex;
  justify-content: center;
  /* Center items horizontally */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  overflow-x: auto;
  z-index: 5;
}

.nav__link {
  text-decoration: none;
  color: rgb(64, 109, 175);
  width: 120px;
  height: 100%;
  display: inline-grid;
  place-items: center;
  font-size: 30px;
  z-index: 1;
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: none;
}

.nav a .nav__text {
  display: none;
  font-size: 15px;
}

.nav a:hover {
  color: rgb(51, 55, 61);
}

.nav__link__active {
  color: rgb(56, 93, 149);
  transform: translateY(-5%);
  font-size: 45px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.nav a.nav__link__active .nav__text {
  display: block;
}

@media (max-width: 600px) {
  .nav {
    height: 50px;
    /* Smaller height for small screens */
  }

  .nav__link {
    font-size: 10px;
    /* Smaller font size for icons */
    width: 17%;
    /* Smaller width for each nav item */
  }

  .nav__link .nav__text {
    display: none;
    /* Hide text labels on small screens */
  }

}

/* Modal Adjusting */

#scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video,
canvas.drawingBuffer {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {

  video,
  canvas.drawingBuffer {
    max-width: 90vw;
  }
}

canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0px;
  top: 0;
}

/* Home Page */

.home_header {
  background-color: #b5b5b5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.home_header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}


.instructions {
  flex: 1;
  text-align: center;
}

._col-auto {
  width: 50vw;
}

@media (max-width: 600px) {

  .home_header {
    background-color: rgb(155, 155, 155);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home_header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

}

/* Search Page */

.search_header {
  background-color: #b5b5b5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.search_header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

@media (max-width: 600px) {

  .search_header {
    background-color: rgb(155, 155, 155);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .search_header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

}

.result-box {
  border: 1px solid #999;
  background-color: #ffffff;
  color: black;
  max-height: 200px;
  overflow-y: scroll;
}

.result-box div {
  padding: 15px 10px;
}
