@charset "UTF-8";

/* Global */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; /* Regular */
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600; /* Bold */
}

.my_container {
  width: 90%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  background-color: rgb(64, 109, 175);
  color: white;
  border: #333;
}

.btn:hover {
  background-color: darkblue;
}

.section-padding {
  margin-top: 60px;
  margin-bottom: 60px;
}

.col_auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

/* Navigation (from youtube) */

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  /* Added to ensure it starts from the very left */
  right: 0;
  /* Added to ensure it stretches to the very right */
  display: flex;
  justify-content: center;
  /* Center items horizontally */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  overflow-x: auto;
  z-index: 5;
}

.nav__link {
  text-decoration: none;
  color: rgb(64, 109, 175);
  width: 120px;
  height: 100%;
  display: inline-grid;
  place-items: center;
  font-size: 30px;
  z-index: 1;
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration: none;
}

.nav a .nav__text {
  display: none;
  font-size: 15px;
}

.nav a:hover {
  color: rgb(51, 55, 61);
}

.nav__link__active {
  color: rgb(56, 93, 149);
  transform: translateY(-5%);
  font-size: 45px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.nav a.nav__link__active .nav__text {
  display: block;
}

@media (max-width: 600px) {
  .nav {
    height: 50px;
    /* Smaller height for small screens */
  }

  .nav__link {
    font-size: 10px;
    /* Smaller font size for icons */
    width: 17%;
    /* Smaller width for each nav item */
  }

  .nav__link .nav__text {
    display: none;
    /* Hide text labels on small screens */
  }

}

/* .nav .nav-indicator {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: -35px;
  left: calc(300px - 45px);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

/* Modal Adjusting */

#scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video,
canvas.drawingBuffer {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {

  video,
  canvas.drawingBuffer {
    max-width: 90vw;
  }
}

canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0px;
  top: 0;
}

/* Home Page */

.home_header {
  background-color: #b5b5b5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.home_header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

@media (max-width: 600px) {

  .home_header {
    background-color: rgb(155, 155, 155);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home_header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

}

/* Search Page */

.search_header {
  background-color: #b5b5b5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.search_header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

@media (max-width: 600px) {

  .search_header {
    background-color: rgb(155, 155, 155);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .search_header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

}

/* Testing */

.flex-container {
  display: flex;
}

.div-card {
  background: blue;
  border: 30px solid white;
  height: 100px;
  flex: 1;
}

@media (max-width: 600px) {
  .div-card {
    background: rgb(125, 225, 140);
    border: 5px solid white;
    height: 50px;
    flex: 1;
  }
}