<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="content">

        <!-- Navigation-->

        {% include "navigation.html" %}
        
        <section>
            <div class="container">
            <h2>About Nutriscanner</h2>

            <h3>What We Do</h3>
            <p>
                Our app is designed to bring a fun twist to grocery shopping. Simply scan the barcode of any food item,
                and
                voila! We'll present you with a whimsical interpretation of the ingredients and their so-called "impact"
                on your
                health.
            </p>

            <h3>Just for Fun</h3>
            <p>
                Remember, our app is all about entertainment and imagination! The information provided is purely
                fictional and
                created for your amusement. We haven't used real research or factual data, so please don't take it as
                health
                advice.
            </p>

            <h3>Disclaimer</h3>
            <p>
                Please note that the information provided by Nutriscanner is not intended to be taken seriously. It's a
                product of pure creativity and not based on scientific evidence or dietary guidelines. Always consult a
                healthcare professional for genuine dietary advice.
            </p>
        </div>
        </section>
    </div>

</body>

</html>