<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
  <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
</head>
    <body class="bg-gray-100 text-gray-900 antialiased">
    <section class="max-w-md mx-auto p-6">
      <p class="text-center text-lg font-medium text-gray-800">
        Picked the wrong subscription? Shop around then come back to pay!
      </p>
      <div class="mt-6 text-center">
        <a href="{{ url_for('home') }}" class="text-blue-600 hover:text-blue-800 font-medium">Return to homepage</a>
      </div>
    </section>
    </body>
  
</html>