    <!-- Footer -->
    <footer class="p-4 bg-gray-200 md:p-8 lg:p-10 dark:bg-gray-300">
        <div class="mx-auto max-w-screen-xl text-center">
            <div class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-black">
                <div class="mr-4 hover:underline md:mr-6">
                    <p>&copy; 2024 IngredientAdvisor. All rights reserved.</p>
                </div>
                <a href="{{ url_for('about') }}" class="mr-4 hover:underline md:mr-6 ">
                    <p>About</p>
                </a>
                <a href="{{ url_for('settings') }}" class="mr-4 hover:underline md:mr-6 ">
                    <p>Settings</p>
                </a>

            </div>
        </div>

    </footer>