<footer class="footer text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="mt-3 mb-0">&copy; 2024 IngredientAdvisor. All rights reserved.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: support@ingredientadvisor.com</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="mr-2">Facebook</a>
                <a href="#" class="mr-2">Twitter</a>
                <a href="#" class="">Instagram</a>
            </div>
        </div>
    </div>
</footer>