<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
    <title>Home Page</title>
    <style>
        #scanner-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        video,
        canvas.drawingBuffer {
            max-width: 100%;
            height: auto;
        }

        @media only screen and (max-width: 768px) {

            video,
            canvas.drawingBuffer {
                max-width: 90vw;
            }
        }

        canvas.drawing,
        canvas.drawingBuffer {
            position: absolute;
            left: 0px;
            top: 0;
        }
    </style>
</head>

<body class="bg-white text-black">
    
    {% include "navigation.html" %}

    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <!-- Mobile Try Button -->
            <div class="block lg:hidden">
            <a href="#" id="startbutton"
                class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-300 dark:text-black hover:bg-gray-200"
                role="alert">
                <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3">Try</span> <span
                    class="text-sm font-medium">Scanning with your mobile device.</span>
                <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                </a>
            </div>
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-black">
                Learn about food ingredients with AI.</h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-black">
                Make better decisions with AI instant ingredient analysis.
            </p>
            <div class="flex flex-col mb-8 mt-8 sm:justify-center lg:content-center max-w-screen-md mx-auto">
                <form id="myForm" method="POST">
                    <label for="search"
                        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-black">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-black" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        {{ form.hidden_tag() }}
                        {{ form.ingredients(class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300
                        rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300
                        dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500")
                        }}
                        {{ form.submit(class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800
                        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2
                        dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") }}
                    </div>
                </form>
                <form id="barcodeForm" method="POST" style="display: none;">
                    <input type="hidden" name="barcode" id="hiddenBarcodeInput">
                </form>
            </div>
        </div>
    </section>

    <!-- Camera modal -->
    <div id="cameraModal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-300">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-black">
                        Hold for two seconds
                    </h3>
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white close">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    <div id="scanner-container" style="position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Benefits Section -->
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mb-8 lg:mb-16 flex justify-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-black">Benefits</h2>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M11 4.717c-2.286-.58-4.16-.756-7.045-.71A1.99 1.99 0 0 0 2 6v11c0 1.133.934 2.022 2.044 2.007 2.759-.038 4.5.16 6.956.791V4.717Zm2 15.081c2.456-.631 4.198-.829 6.956-.791A2.013 2.013 0 0 0 22 16.999V6a1.99 1.99 0 0 0-1.955-1.993c-2.885-.046-4.76.13-7.045.71v15.081Z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-black">Informed Eating</h3>
                    <p class="text-gray-500 dark:text-black">Leverage the power of AI to decode your food. Modern foods often contain processed ingredients that are hard to understand. Use AI to instantly analyze each ingredient and provides insights, helping you make smarter choices.
                    </p>
                </div>
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-black">Healthier Choices</h3> 
                    <p class="text-gray-500 dark:text-black">Using AI, our tool evaluates ingredients to identify and suggest healthier alternatives for you. No need to google or sift through articles—its time for AI to guide your grocery decisions.
                    </p>
                </div>
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M14.99 9H15M8.99 9H9m12 3a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM7 13c0 1 .507 2.397 1.494 3.216a5.5 5.5 0 0 0 7.022 0C16.503 15.397 17 14 17 13c0 0-1.99 1-4.995 1S7 13 7 13Z" />
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-black">Diet Friendly</h3>
                    <p class="text-gray-500 dark:text-black">Our tool doesn’t impose diets or restrictions. Instead, it empowers you with AI-driven insights into what you’re consuming, giving you the freedom to make informed decisions.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- How it Works Section -->
    <section class="bg-gray-50 dark:bg-gray-900 w-full flex justify-center">

        <div class="py-12 px-4 mx-auto max-w-screen-xl sm:py-20 lg:px-6">
            <div class="mb-8 lg:mb-16 flex justify-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-black">How It Works</h2>
            </div>

            <div class="space-y-8 flex flex-col justify-center md:w-700 w-full">

                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                d="M4 4h6v6H4V4Zm10 10h6v6h-6v-6Zm0-10h6v6h-6V4Zm-4 10h.01v.01H10V14Zm0 4h.01v.01H10V18Zm-3 2h.01v.01H7V20Zm0-4h.01v.01H7V16Zm-3 2h.01v.01H4V18Zm0-4h.01v.01H4V14Z" />
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                d="M7 7h.01v.01H7V7Zm10 10h.01v.01H17V17Z" />
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-black">Scan or Type</h3>
                    <p class="text-gray-500 dark:text-black">
                        Use your phone to scan a food item's barcode or simply type its barcode.
                    </p>
                </div>

                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-blue-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 3v4a1 1 0 0 1-1 1H5m8 7.5 2.5 2.5M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-5 9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-black">Learn about each ingredient</h3>
                    <p class="text-gray-500 dark:text-black">AI explains what each ingredient is and provides a health rating between
                        
                         healthy,
                        
                         neutral, and
                        
                         unhealthy.
                        
                        No jargon, just clear, simple guidance you can trust.
                    </p>
                </div>

            </div>

        </div>

    </section>

    <section class="bg-gradient-to-r from-sky-200 ... dark:bg-gray-900">
        <div class="py-32 px-4 mx-auto max-w-screen-xl lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-black dark:text-black">
                    Start using AI for ingredients information.</h2>
                <p class="mb-6 font-light text-black dark:text-black md:text-lg">
                </p>

                <button data-modal-target="large-modal" data-modal-toggle="large-modal"
                    class="mx-auto block w-full md:w-auto text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">
                    Open Ingredients
                </button>

            </div>
        </div>
    </section>

    <!-- Ingredients modal -->
    <section>
        
        <div class="block space-y-4 md:flex md:space-y-0 md:space-x-4 rtl:space-x-reverse">
            <!-- Large Modal -->
            <div id="large-modal" tabindex="-1"
                class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative w-full max-w-4xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                                Ingredients
                            </h3>
                            <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="large-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <div>
                                <h5 class="text-xl capitalize font-bold">
                                    {% if ingredients_list %}
                                    {{ name }}
                                    {% elif ingredients_list == [] %}
                                    Sorry no information available
                                    {% endif %}
                                </h5>
                                <h5 class="text-xl capitalize">
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </h5>
                            </div>
                            <ul class="list-none">
                                {% if ingredients_list %}
                                <script>
                                    window.ingredientsListPresent = true;
                                </script>
                                {% endif %}

                                {% for ingredient in ingredients_list %}
                                <!-- Healthy rating will show green background -->
                                {% if ingredient['rating'] == "healthy" %}
                                {% if ingredient['name'] %}
                                <li class="bg-green-200 p-2 mb-2 rounded-lg">
                                    
                                    <p class="font-bold">{{ ingredient['name'] }}:</p>
                                    <p>{{ ingredient['description'] }}</p>
                                
                                </li>
                                {% endif %}
                                <!-- Neutral rating will show yellow background -->
                                {% elif ingredient['rating'] == "neutral" %}
                                {% if ingredient['name'] %}
                                <li class="bg-yellow-200 p-2 mb-2 rounded-lg">
                                    
                                    <p class="font-bold">{{ ingredient['name'] }}:</p>
                                    <p>{{ ingredient['description'] }}</p>
                                
                                </li>
                                {% endif %}
                                <!-- Anything else besides healthy rating will show yellow background -->
                                {% else %}
                                {% if ingredient['name'] %}
                                <li class="bg-red-200 p-2 mb-2 rounded-lg">
                                    
                                    <p class="font-bold">{{ ingredient['name'] }}:</p>
                                    <p>{{ ingredient['description'] }}</p>
                                
                                </li>
                                {% endif %}
                                {% endif %}

                                {% endfor %}
                            </ul>

                            <h5 class="text-xl font-bold mb-2">
                                Nutriscore
                            </h5>
                            {% if ingredients_list %}
                            {% set most_recent_year = nutriscore.keys() | max %}
                            {% set most_recent_nutriscore = nutriscore[most_recent_year] %}
                            {% set grade = most_recent_nutriscore.grade %}

                            <div>
                                {% if grade == 'a' %}
                                <h5 class="capitalize">Nutriscore grade {{ grade }}:</h5>
                                <p>
                                    Indicates the product has high nutritional quality. It typically has low levels of
                                    sugars, saturated fats, and salt, and high levels of fruits, vegetables, fibers, and
                                    proteins.
                                </p>
                                {% elif grade == 'b' %}
                                <h5 class="capitalize">Nutriscore grade {{ grade }}:</h5>
                                <p>
                                    Indicates the product has good nutritional quality, but not as high as grade A.
                                </p>
                                {% elif grade == 'c' %}
                                <h5 class="capitalize">Nutriscore grade {{ grade }}:</h5>
                                <p>
                                    Indicates the product has moderate nutritional quality. It is an average score,
                                    suggesting a balance of beneficial and less beneficial nutrients.
                                </p>
                                {% elif grade == 'd' %}
                                <h5 class="capitalize">Nutriscore grade {{ grade }}:</h5>
                                <p>
                                    Indicates the product has lower nutritional quality. It generally has higher levels
                                    of
                                    less beneficial nutrients like sugars, saturated fats, and salt.
                                </p>
                                {% elif grade == 'e' %}
                                <h5 class="capitalize">Nutriscore grade {{ grade }}:</h5>
                                <p>
                                    Indicates the product has the lowest nutritional quality, with high levels of
                                    sugars,
                                    saturated fats, and salt.
                                </p>
                                {% else %}
                                <p>
                                    No matching grade.
                                </p>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    {% include 'footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>

</html>