<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Nutriscanner</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Styles CSS -->
    <link href="{{url_for('static', filename='/css/styles.css')}}" rel="stylesheet" />
</head>

{% block content %}

<div class="content">
    <!-- Navigation-->
    <nav class="nav">
        <a href="#" class="nav__link">
            <i class="material-icons nav__icon">dashboard</i>
            <span class="nav__text">Dashboard</span>
        </a>
        <a href="#" class="nav__link">
            <i class="material-icons nav__icon">search</i>
            <span class="nav__text">Search</span>
        </a>
        <a href="#" class="nav__link nav__link--active" id="startbutton">
            <i class="material-icons nav__icon">barcode_reader</i>
            <span class="nav__text">Scanner</span>
        </a>
        <a href="{{url_for('about')}}" class="nav__link">
            <i class="material-icons nav__icon">info</i>
            <span class="nav__text">Info</span>
        </a>
        <a href="#" class="nav__link">
            <i class="material-icons nav__icon">settings</i>
            <span class="nav__text">Settings</span>
        </a>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="text-center text-white">
                        <h1 class="mb-5">Learn about food ingredients.</h1>
                        <form id="myForm" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="form-group col">
                                    {{ form.ingredients(class="form-control") }}
                                </div>
                                <div class="form-group col-auto">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </div>
                        </form>
                        <form id="barcodeForm" method="POST" action="/" style="display: none;">
                            <input type="hidden" name="barcode" id="hiddenBarcodeInput">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div id="cameraModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="scanner-container">
                                    <!-- Ensure content here is mobile-friendly -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <section class="d-flex flex-column justify-content-center" style="min-height: 50vh;">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card my-5 info-card">
                        <div class="card-header">
                            Product information
                            <div id="loadingMessage" style="display: none;">
                                Making API requests...
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mt-2">
                                {% if ingredients_list %}
                                {{name}}
                                {% else %}
                                Product Name
                                {% endif %}
                            </h5>
                            <p class="card-text">What are the ingredients in your food and what is the impact on your
                                health.
                            </p>
                            <p>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    See all ingredients
                                </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    {% if ingredients_list %}
                                    {% for ingredient in ingredients_list %}
                                    <div class="element1"><strong>{{ingredient['name']}}:</strong></div>
                                    <div class="element2">{{ingredient['description']}}</div>
                                    {% endfor %}
                                    {% else %}
                                    Your ingredients will appear here.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

{% endblock %}

</html>