<!DOCTYPE html>
<html lang="en">

{% block content %}

{% include "header.html" %}

<div class="content">

    {% include 'navigation.html' %}

    <!-- Masthead-->
    <header class="home_header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto text-center">
                    <div class="text-white">
                        <h1 class="mb-3">Learn about food ingredients.</h1>
                        <p class="mb-5">Make better decisions with instant ingredient analysis.</p>
                        <form id="myForm" method="POST" action="#productInfoSection">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col">
                                    {{ form.ingredients(class="form-control") }}
                                </div>
                                <div class="col-auto">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Camera Modal -->
    <div id="cameraModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="scanner-container">
                                <!-- Ensure content here is mobile-friendly -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefits Section -->
    <section id="productInfoSection">
        <div class="main_container">
            <div class="my_text_center">
                <h2 class="mb-5 text-center">Benefits</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-11 col-sm-6 col-lg-3 text-center">
                    <div class="badge p-3 mb-4">
                        <i class="material-icons nav__icon home_icon">menu_book</i>
                    </div>
                    <h4 class="mb-3">Informed Eating</h4>
                    <p class="mb-3 text-secondary">Understand what's really in your food.</p>
                </div>
                <div class="col-11 col-sm-6 col-lg-3 text-center">
                    <div class="badge p-3 mb-4">
                        <i class="material-icons nav__icon home_icon">restaurant</i>
                    </div>
                    <h4 class="mb-3">Healthier Choices</h4>
                    <p class="mb-3 text-secondary">Make better decisions with instant ingredient analysis.</p>
                </div>
                <div class="col-11 col-sm-6 col-lg-3 text-center">
                    <div class="badge p-3 mb-4">
                        <i class="material-icons nav__icon home_icon">monitor_weight</i>
                    </div>
                    <h4 class="mb-3">Diet Friendly</h4>
                    <p class="mb-3 text-secondary">Whether you're vegan, gluten-free, or watching your sugar intake,
                        know what's suitable for you.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- How it works section -->
    <section class="how_it_works_section">
        <div class="how_it_works_container">
            <div class="my_text_center">
                <h2 class="text-center">How It Works</h2>
                <p class="mb-5 text-secondary">Easy steps to do to know all information about your food ingredients</p>
            </div>
            <div class="my_row">
                <div class="instructions">
                    <div class="circle">1</div>
                    <div class="instruction_content">
                        <h4>Scan or Type</h4>
                        <p class="text-secondary">Scan the food item or type it in the search bar to get detailed
                            insights
                            into thousands of food ingredients.</p>
                    </div>
                </div>
                <div class="instructions">
                    <div class="circle">2</div>
                    <div class="instruction_content">
                        <h4>Learn about each ingredient</h4>
                        <p class="text-secondary">The truth is that certain ingredients in our food are not the
                            healthiest
                            and learning about them can help us make better decisions on what we put in our bodies.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product information section -->
    <section class="container main_container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto mb-3">
                <h2 class="mb-5">Product information</h2>
                <div>
                    <form id="myForm2" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-12 col-sm-8 mb-2 mb-sm-0">
                                {{ form.ingredients(class="form-control") }}
                            </div>
                            <div class="col-12 col-sm-4">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-6 mx-auto mb-3">
                <div class="card info-card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div id="loadingMessage" style="display: none;">
                                Making API requests...
                            </div>
                            {% if ingredients_list %}
                            {{ name }}
                            {% else %}
                            Product Name
                            {% endif %}
                        </h5>
                        <p class="card-text">What are the ingredients in your food items.</p>
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                {% if ingredients_list %}
                                {% for ingredient in ingredients_list %}
                                {% if ingredient['rating'] == "healthy" %}
                                <li class="list-group-item" style="background-color: rgb(216, 255, 216);">
                                    <p class="element1"><strong>{{ ingredient['name'] }}:</strong></p>
                                    <p class="element2">{{ ingredient['description'] }}</p>
                                </li>
                                {% else %}
                                <li class="list-group-item" style="background-color: rgb(255, 208, 208);">
                                    <p class="element1"><strong>{{ ingredient['name'] }}:</strong></p>
                                    <p class="element2">{{ ingredient['description'] }}</p>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                <li class="list-group-item">Your ingredients will appear here.</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% include 'footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

{% endblock %}


</html>