<!DOCTYPE html>
<html lang="en">

{% block content %}

{% include "header.html" %}

<div class="content">

    {% include "navigation.html" %}

    <header class="search_header">
        <div class="container my_container">
            <div class="row justify-content-center">
                <div class="col_auto">
                    <div class="text-white">
                        <h1 class="mb-5">Search for specific ingredients.</h1>
                        <form id="myForm" method="POST">
                            <div class="row">
                                {{ form.hidden_tag() }}
                                <div class="col">
                                    {{ form.ingredient(class="form-control", id="textbox") }}
                                    <div class="result-box"></div>
                                </div>
                                <div class="col-auto">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </div>
                        </form>
                        <form id="barcodeForm" method="POST" action="/" style="display: none;">
                            <input type="hidden" name="barcode" id="hiddenBarcodeInput">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="d-flex flex-column" style="min-height: 50vh;">
        <div class="container mt-5 mb-5">
            <h2 class="mb-5 display-5 text-center">Ingredient Information</h2>
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title mt-2">Ingredient Information</h5>
                            <p class="card-text">Get specific ingredient information.</p>

                            <div class="card p-3">
                                {% if ingredient_info %}
                                <div class="ingredient-detail mb-3">
                                    <h6 class="font-weight-bold">Name</h6>
                                    <p>{{ingredient_info['name']}}</p>
                                </div>
                                <div class="ingredient-detail mb-3">
                                    <h6 class="font-weight-bold">Effects</h6>
                                    <p>{{ingredient_info['description']}}</p>
                                </div>
                                <div class="ingredient-detail">
                                    <h6 class="font-weight-bold">Rating</h6>
                                    <p>{{ingredient_info['rating']}}</p>
                                </div>
                                {% else %}
                                <p>Your ingredient information will appear here.</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{% include 'footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script src="{{url_for('static', filename='js/autocomplete.js')}}"></script>

{% endblock %}

</html>