<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unconfirmed Page</title>
</head>
<body>
    <h1>Unconfirmed Access</h1>
    <p>Your email address has not been confirmed yet. Please check your inbox for a confirmation link.</p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% else %}
    Create an account
    {% endif %}
    {% endwith %}
    <a href="{{ url_for('logout') }}"><p>Logout instead</p></a>
</body>
</html>
